@font-face {
  font-family: 'MyYuGothic';
  src: url(./font/YuGothicMedium.otf);
}

@font-face {
  font-family: 'MyYuMincho';
  src: url(./font/YuMincho.ttc);
}

body {
  font-family: "MyYuMincho", "游明朝体", serif;
  font-size: 15px;
  line-height: 30px;
  min-width: 375px;
  width: 100%;
  box-sizing: border-box;
}

.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  height: 100lvh;
  width: 100%;
  /* border-top: 1px solid green;
  border-bottom: 1px solid red; */
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
}

.footer {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
}

.footer-container {
  grid-column: 2 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.footer-text {
  width: 80%;
  font-family: "MyYuGothic", "游ゴシック体", sans-serif;
  font-size: 10px;
  font-weight: 100;
  line-height: 15px;
}

.sp {
  display: none;
}

@media screen and (max-width: 960px),
screen and (orientation: portrait) {
  .section {
    grid-template-columns: 5% 45% 45% 5%;
  }

  .footer {
    grid-template-columns: 5% 45% 45% 5%;
  }

  .footer-text {
    width: 100%;
  }

  .pc {
    display: none;
  }

  .sp {
    display: inline-block;
  }
}