.container-01 {
	grid-column: 2 / 4;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.text-01 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 50px;
	padding-left: 8px;
}

.image-01 {
	width: 185px;
}

.announce-01 {
	position: absolute;
	bottom: 40px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.announce-text-01 {
	font-size: 16px;
	font-family: "MyYuGothic", "游ゴシック体", sans-serif;
}

/* ////////////////////////////////////////////////////////////////////////// */

.section-02 {
	margin-bottom: 150px;
}

.container-02 {
	grid-column: 2 / 4;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	gap: 50px;
}

.image-02 {
	max-height: 90%;
	width: 100%;
	max-width: 900px;
}

@media screen and (max-width: 960px),
screen and (orientation: portrait) {
	.section-02 {
		margin: 50px;
	}

	.container-02 {
		grid-column: 1 / 5;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.text-02 {
		width: 90%;
	}
}

/* ////////////////////////////////////////////////////////////////////////// */

.section-03 {
	margin-bottom: 200px;
}

.container-03 {
	grid-column: 1 / 5;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-03 {
	max-height: 100dvh;
	max-width: 100%;
}

@media screen and (max-width: 960px),
screen and (orientation: portrait) {
	.section-03 {
		min-height: fit-content;
		margin-bottom: 400px;
	}
}

/* ////////////////////////////////////////////////////////////////////////// */

.section-04 {
	margin-bottom: 250px;
}

.container-04 {
	grid-column: 2 / 4;
}

.inner-content-04-01 {
	height: 30%;
	width: 100%;
	display: flex;
	align-items: center;
}

.image-04-01 {
	width: 55%;
	margin-bottom: 30px;
}

.inner-content-04-02 {
	height: 70%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.image-04-02 {
	max-width: 100%;
	width: 1000px;
}

@media screen and (max-width: 960px),
screen and (orientation: portrait) {
	.section-04 {
		height: fit-content;
		min-height: 100dvh;
		margin-bottom: 250px;
	}

	.container-04 {
		grid-column: 1 / 5;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.inner-content-04-01 {
		height: fit-content;
	}

	.image-04-01 {
		width: 100%;
	}

	.inner-content-04-02 {
		height: fit-content;
	}
}


/* ////////////////////////////////////////////////////////////////////////// */

.section-05 {
	height: fit-content;
	margin-bottom: 300px;
}

.container-05-01 {
	grid-column: 2 / 3;
	display: flex;
	justify-content: flex-end;
}

.image-05 {
	height: 100dvh;
}

.container-05-02 {
	grid-column: 3 / 4;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-left: 50px;
	padding-bottom: 20px;
}

@media screen and (max-width: 960px),
screen and (orientation: portrait) {
	.container-05-01 {
		grid-column: 1 / 5;
		justify-content: flex-start;
		height: fit-content;
	}

	.image-05 {
		height: auto;
		width: 80%;
	}

	.container-05-02 {
		grid-column: 2 / 4;
		padding: 40px 0;
	}
}

/* ////////////////////////////////////////////////////////////////////////// */

.section-06 {
	margin-bottom: 250px;
}

.container-06 {
	height: 100%;
	grid-column: 2 / 4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image-06 {
	max-height: 83dvh;
	max-width: 100%;
}

.inner-content-wrapper-06 {
	height: 13%;
	min-height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 960px),
screen and (orientation: portrait) {
	.section-06 {
		margin-bottom: 100px;
	}

	.container-06 {
		grid-column: 1 / 5;
	}

	.inner-content-wrapper-06 {
		margin-top: 20px;
	}

	.inner-content-06 {
		width: 90%;
	}
}

/* ////////////////////////////////////////////////////////////////////////// */

.section-07 {
	margin-bottom: 250px;
}

.container-07 {
	grid-column: 1 / 5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.inner-content-07 {
	width: 90%;
}

.image-07 {
	width: 100%;
	object-fit: cover;
}

.announce-text-07 {
	width: 100%;
	padding-right: 5px;
	text-align: end;
}

@media screen and (max-width: 960px),
screen and (orientation: portrait) {
	.inner-content-07 {
		height: 650px;
		max-height: 100dvh;
		width: 100%;
		/* display: flex;
		justify-content: flex-end; */
		position: relative;
		overflow: scroll;
		background-color: lightgray;
		scrollbar-color: gray lightgray;
		scrollbar-width: auto;
	}

	.inner-content-07::-webkit-scrollbar {
		height: 10px;
		width: 0;
	}

	.inner-content-07::-webkit-scrollbar-track {
		background-color: gray;
	}

	.inner-content-07::-webkit-scrollbar-thumb {
		background-color: lightgray;
		border-radius: 5px;
	}

	.image-07 {
		height: 100%;
		width: auto;
		position: absolute;
		top: 0;
		right: 0;
		transition-delay: 1500ms;
		transition-duration: 6000ms;
		transition-timing-function: ease;
	}
}

@media screen and (max-width :670px) {
	.inner-content-07 {
		height: 350px;
	}
}

/* ////////////////////////////////////////////////////////////////////////// */

.section-08 {
	margin-bottom: 250px;
}


.container-08-01 {
	grid-column: 2 / 3;
	display: flex;
	align-items: flex-end;
}

.inner-content08-01 {
	padding-left: 5px;
	padding-bottom: 50px;
}

.container-08-02 {
	grid-column: 3 / 4;
	display: flex;
	align-items: center;
}

.image-08 {
	height: 105%;
	width: 100%;
	object-fit: cover;
}

@media screen and (max-width: 960px),
screen and (orientation: portrait) {
	.section-08 {
		height: fit-content;
		margin-bottom: 400px;
		grid-template-rows: 1fr auto;
	}

	.container-08-01 {
		order: 2;
		grid-column: 2 / 4;
		padding: 30px 0;
	}

	.inner-content08-01 {
		padding-left: 5px;
		padding-bottom: 0;
	}

	.container-08-02 {
		order: 1;
		grid-column: 1 / 5;
	}

	.image-08 {
		height: auto;
	}
}

/* ////////////////////////////////////////////////////////////////////////// */

.section-09 {
	padding: 100px 0;
}

.container-09-01 {
	grid-column: 2 / 3;
}

.container-09-02 {
	grid-column: 3 / 4;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.image-09 {
	width: 130%;
}

@media screen and (max-width: 960px),
screen and (orientation: portrait) {
	.section-09 {
		height: fit-content;
		margin-bottom: 300px;
	}

	.container-09-01 {
		grid-column: 2 / 4;
		padding-bottom: 40px;
	}

	.container-09-02 {
		grid-column: 1 / 5;
	}

	.image-09 {
		width: 100%;
	}
}

/* ////////////////////////////////////////////////////////////////////////// */

.section-10 {
	margin-bottom: 150px;
}

.container-10 {
	grid-column: 2 / 3;
	display: flex;
	align-items: center;
}

.image-10 {
	max-height: 110%;
	width: 100%;
	object-fit: cover;
}

@media screen and (max-width: 960px),
screen and (orientation: portrait) {
	.section-10 {
		height: fit-content;
		margin-bottom: 50px;
	}

	.container-10 {
		grid-column: 1 / 5;
	}
}

/* ////////////////////////////////////////////////////////////////////////// */

.section-11 {
	margin-bottom: 200px;
}

.container-11 {
	grid-column: 2 / 4;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-11 {
	width: 60%;
}

@media screen and (max-width: 960px),
screen and (orientation: portrait) {
	.section-11 {
		margin-bottom: 0;
	}

	.image-11 {
		width: 100%;
	}
}

/* ////////////////////////////////////////////////////////////////////////// */

.section-12 {
	min-height: 750px;
	grid-template-rows: 1fr auto;
}

.container-12 {
	grid-column: 2 / 4;
	grid-row: 1 / 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.title-12 {
	font-size: 14px;
}

.inner-content-12 {
	width: 80%;
}


.footer {
	grid-column: 2 / 4;
	grid-row: 2 / 3;
}

.footer-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
}

.footer-text {
	width: 80%;
	font-family: "MyYuGothic", "游ゴシック体", sans-serif;
	font-size: 10px;
	font-weight: 100;
	line-height: 15px;
}

@media screen and (max-width: 960px),
screen and (orientation: portrait) {
	.inner-content-12 {
		width: 100%;
	}

	.footer-text {
		width: 100%;
	}
}